/* Prefix Filter */
.default-prefix-filters {
    /* clear: both; */
}

.default-prefix-filters .filter-level {
    background-color: #f1f1f1;
    border-bottom: 1px solid #d9d9d9;
    overflow: clip;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.default-prefix-filters .filter-level:last-child {
    margin-bottom: 1em;
}

.default-prefix-filters .filter {
    display: inline-block;
}

.default-prefix-filters .filter.current {
    display: inline-block;
}

.default-prefix-filters .filter.disabled {
    cursor: not-allowed;
    color: #ccc;
    display: inline-block;
}

.default-prefix-filters .filter-link {
    display: inline-block;
    text-align: center;
    padding: 8px 0.5em;
    font-size: .9em;
    text-decoration: none;
    letter-spacing: -1px;
}

.default-prefix-filters .filter.current .filter-link {
    font-weight: bold;
}
